<!DOCTYPE html>
<html lang="es-Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="img/iconVet.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <title>Animalandia</title>

    <!--Iconos, Letra Google Fonts, Normalize-->
    <script src="https://kit.fontawesome.com/4bc23db062.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="logo">
            <img src="../assets/images/logo.jpg" alt="logo animalandia">
        </div>
        <div class="botones">
    
            <button class="b-azul"><i class="fa-solid fa-power-off icono"></i><a href="login.html"> Ingresar</a></button>
            <button class="b-morado"><i class="fa-solid fa-user-plus icono1"></i>Registrarse</button>
        </div>
    </header>

    <nav>
        <a href="index.html" class="item">Home</a>
        <a href="equipo.html" class="item">Equipo</a>
        <a href="servicios.html" class="item">Servicios</a>
        <a href="tips.html" class="item">Tips<a>
        <a href="contacto.html" class="item">Contacto</a>
    </nav>
    
    <main>
      <section id="filtros">
        <article class="textfi">
        <h1>Tips para todos tus animalitos</h1>
        <p>Usa el buscador de filtros por #hashtag para poder encontrar de manera más fácil lo que buscas</p>
        <h2>Filtros: </h2>
        </article>

        <article class="box-filtro">
            <h4>#cachorros</h4>
            <h4>#gatitos</h4>
            <h4>#comida</h4>
            <h4>#hamsters</h4>
            <h4>#veterinaria</h4>
            <h4>#accesorios</h4>
            <h4>#vacas</h4>
            <h4>mascotas</h4>
            <h4>Veterinaria</h4>
            <h4>#perros</h4>
            <h4>#medicina</h4>
            <h4>#lovercat</h4>
        </article>

      </section>
      <section id="tips">
          <h2>Últimas novedades</h2>
        <article class="box-table">
          <div class="fila">
                <img src="../assets/images/perritoenfermo.jpg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in magnam expedita molestias amet velit nihil earum odit.</p>
                <h4>#veterinaria #mascotas #enfermos #perros #medicina</h4>
          </div>
          <div class="fila">
                <img src="../assets/images/nacimientoperrito.jpg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in magnam expedita molestias amet velit nihil earum odit.</p>
                <h4>#cachorros #veterinaria #nacimiento #chiquitos</h4>
          </div>
          <div class="fila">
                <img src="../assets/images/accesorios.jpg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in magnam expedita molestias amet velit nihil earum odit.</p>
                <h4>#gatos #juguetes #accesorios #lovercat </h4>
          </div>
            <div class="fila">
                <img src="../assets/images/cataccesorios.jpg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in magnam expedita molestias amet velit nihil earum odit.</p>
                <h4>#camas #accesorios #dormir #mascotas</h4>
            </div>
           <div class="fila">
                <img src="../assets/images/comida.jpg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in magnam expedita molestias amet velit nihil earum odit.</p>
                <h4>#comida #paraperros #perros #cachorros #siyno</h4>
            </div>
            <div class="fila">
                <img src="../assets/images/vaca.jpg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in magnam expedita molestias amet velit nihil earum odit.</p>
                <h4>#vacas #leche #veterinaria #terneros</h4>
            </div>
            <div class="fila">
                <img src="../assets/images/hamster.jpg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in magnam expedita molestias amet velit nihil earum odit.</p>
                <h4>#hamsters #tips #mascotas #cute</h4>
            </div>
            <div class="fila">
                <img src="../assets/images/cachorro.jpg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in magnam expedita molestias amet velit nihil earum odit.</p>
                <h4>#adopta #perros #gatos #ayuda #mejoramig@</h4>
            </div>
          
          
        </article>
        <section id="mas">
        <h3><a href="https://pasalapagina.com/publicacion/4-Patas/208/7.html"></a>Ver más </h3>
        </section>
      </section>
    </main>
    <footer>
        <div class="box-footer">
            <div class="morado">
            <div class="foot">
                <i class="fa-regular fa-building fa-3x"></i>
                <h3>Sedes</h3>
                <p>Sede Kennedy<br>
                    Sede Suba<br>
                    Sede Fontibon<br
                    >Sede Centro<br></p>
            </div>
        
            <div class="foot">
                <i class="fa-regular fa-building fa-3x"></i>
                <h3>Sedes</h3>
                <p>Sede Kennedy<br>Sede Suba<br>Sede Fontibon<br>Sede Centro<br></p>
            </div>
    
            <div class="foot">
                <i class="fa-regular fa-building fa-3x"></i>
                <h3>Sedes</h3>
                <p>Sede Kennedy<br>Sede Suba<br>Sede Fontibon<br>Sede Centro<br></p>
            </div>
        </div>
        </div>
       
  </footer>
    
  </body>
</html>